<!-- Right Sidebar -->
<aside id="rightsidebar" class="right-sidebar">
<!--   <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
  </ul> -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
      <ul class="demo-choose-skin">
        <% ['Red', 'Deep Purple', 'Indigo', 'Blue', 'Teal', 'Orange', 'Deep Orange', 'Brown', 'Blue Grey', 'Black'].each do |color_option|
          color_option_code = color_option.downcase.gsub(' ', '-')
        %>
          <li data-theme="<%= color_option_code %>" class="<%= color == color_option_code ? 'active' : '' %>">
            <div class="<%= color_option_code %>"></div>
            <span><%= color_option %></span>
          </li>
        <% end %>
      </ul>
    </div>
<!--     <div role="tabpanel" class="tab-pane fade" id="settings">
      <div class="demo-settings">
        <p>GENERAL SETTINGS</p>
        <ul class="setting-list">
          <li>
            <span>Report Panel Usage</span>
            <div class="switch">
              <label><input type="checkbox" checked><span class="lever"></span></label>
            </div>
          </li>
          <li>
            <span>Email Redirect</span>
            <div class="switch">
              <label><input type="checkbox"><span class="lever"></span></label>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</aside>
<!-- #END# Right Sidebar -->