<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
  <!-- User Info -->
  <div class="user-info">
    <div class="image">
      <% if user.image.nil? %>
        <%= image_tag "user.png" %>
      <% else %>
        <img src="<%= user.image %>" width="50" height="50">
      <% end %>
    </div>
    <div class="info-container">
      <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hey there, <%= user.name %>!
      </div>
      <div class="email"><%= user ? user.email : "Email Address is not known yet" %></div>
    </div>
  </div>
  <!-- #User Info -->
  <!-- Menu -->
  <div class="menu">
    <ul class="list">
      <li class="active"></li>
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a href="/tables">
          <i class="material-icons">grid_on</i>
          <span>Tables</span>
        </a>
      </li>
      <li>
          <a href="/collections">
              <i class="material-icons">folder</i>
              <span>Collections</span>
          </a>
      </li>
      <li>
          <a href="/settings">
              <i class="material-icons">settings</i>
              <span>Settings</span>
          </a>
      </li>
      <li>
          <a href="/logout">
              <i class="material-icons">input</i>
              <span>Sign out</span>
          </a>
      </li>
      <li class="header">Add New Entities</li>
      <li>
          <a href="/tables/new">
              <i class="material-icons">add</i>
              <i class="material-icons">grid_on</i>
              <span>New Table</span>
          </a>
      </li>
      <li>
          <a href="/collections/new">
              <i class="material-icons">add</i>
              <i class="material-icons">folder</i>
              <span>New Collection</span>
          </a>
      </li>
      <li class="header">Impressed by the demo? Sign In</li>
      <li>


                  <div class="col-md-3 col-xs-6">
                      <a class="btn btn-block bg-red waves-effect" href="/auth/google_oauth2"><strong><i class="fa fa-google fa-lg" aria-hidden="true"></i></strong></a>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <a class="btn btn-block bg-indigo waves-effect" href="/auth/facebook"><strong><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></strong></a>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <a class="btn btn-block bg-blue waves-effect" href="/auth/linkedin"><strong><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></strong></a>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <a class="btn btn-block bg-black waves-effect" href="/auth/github"><strong><i class="fa fa-github fa-lg" aria-hidden="true"></i></strong></a>
                  </div>


      </li>
    </ul>
  </div>
  <!-- #Menu -->
  <!-- Footer -->
  <div class="legal">
      <div class="copyright">
          &copy; 2018 <a href="https://github.com/athityakumar" target="_blank">Athitya Kumar</a> | <a href="https://github.com/athityakumar/DashVis" target="_blank">DashVis Repository</a>
      </div>
      <div class="version">
          <b>Version: </b> 1.0
      </div>
  </div>
  <!-- #Footer -->
</aside>
<!-- #END# Left Sidebar -->