.dropdown-menu {
  margin-top: 0px !important;
}

.btn:hover, .btn:focus {
  color: #000;
}

.btn-color:hover, .btn-color:focus {
  color: #fff;
}

.alert .close{
  color: #fff;
}

table.dataTable span.highlight {
  background-color: #f1dd38;
}
