<%= csrf_meta_tags %>

<body class="login-page">
  <div class="login-box">
  <div class="logo">
      <a href="javascript:void(0);">Dash<b>Vis</b></a>
  </div>

  <div class="card">
      <div class="header">
        <h2 style="text-align: center;">Sign in with ...</h2>
      </div>
      <div class="body">
        <% if flash %>
          <%= render 'shared_partials/alert.html.erb', alert: flash %>
        <% end %>
              <div class="row">

                  <div class="col-md-3 col-xs-6">
                      <a class="btn btn-block bg-red waves-effect" href="/auth/google_oauth2"><strong><i class="fa fa-google fa-lg" aria-hidden="true" style="padding: 10px;"></i></strong></a>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <a class="btn btn-block bg-indigo waves-effect" href="/auth/facebook"><strong><i class="fa fa-facebook fa-lg" aria-hidden="true" style="padding: 10px;"></i></strong></a>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <a class="btn btn-block bg-blue waves-effect" href="/auth/linkedin"><strong><i class="fa fa-linkedin fa-lg" aria-hidden="true" style="padding: 10px;"></i></strong></a>
                  </div>
                  <div class="col-md-3 col-xs-6">
                      <a class="btn btn-block bg-black waves-effect" href="/auth/github"><strong><i class="fa fa-github fa-lg" aria-hidden="true" style="padding: 10px;"></i></strong></a>
                  </div>
              </div>
      </div>
  </div>
</div>

</body>